@import url(variable.css);

html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

.blog-background {
  background-color: var(--color2);
}
.blog-header {
  display: flex;
  justify-content: space-between;
  background-color: var(--color1);
}

.blog-title {
  font-size: var(--h2);
  text-align: center;
  padding: 1rem;
  font-family: "Inspiration", cursive;
  color: var(--color2);
  margin: 1rem;
  margin-left: 5rem;
}

.second-header {
  text-align: center;
  padding: 5rem;
  font-family: "Oswald", sans-serif;
  color: var(--color1);
  background-color: var(--color2);
}

.img-preview {
  height: 40rem;
  width: 40rem;
  display: flex;
}

.figure-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40rem;
  height: 45rem;
}

.articles {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap row;
  text-align: center;
  align-items: center;
  font-family: "Oswald", sans-serif;
  color: var(--color1);
}

.article-link {
  font-size: var(--h3);
  margin: 0.5rem;
  font-family: "Oswald", sans-serif;
  color: var(--color1);
  position: relative;
  text-decoration: none;
  display: inclne-block;
  padding: 2px 3px;
  transition: color ease 0.3s;
}

.article-text {
  margin-bottom: 3rem;
}

.article-author {
  font-size: var(--h4);
  font-family: "Oswald", sans-serif;
}

.article-description {
  font-size: var(--h5);
  font-family: "Oswald", sans-serif;
}
